/* 1. Upper Airbus */
.container {
  display: flex;
  align-items: center;
  background-image: url("./images/BelugaXL-in-flight_-e1579286751195.jpeg");
  background-repeat: no-repeat;
  background-size: 1500px 150px;
  border: black;
}

img {
  max-width: 30%;
}

.imageoflogo {
  flex-basis: 30%;
}

.airbus {
  margin-left: -350;
  color: #ffffff;
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size: 26px;
}

.searchbar {
  overflow: hidden;
  color: #ffffff;
  margin-left: 330px;
}

.searchbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #FFFE00;
}

.searchbar a:hover {
  background-color: white;
  color: #2042BA;
}

.searchbar a.active {
  background-color: #5894c5;
  color: white;
}

.searchbar input[type=text] {
  float: right;
  padding:  6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .searchbar a, .searchbar input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .searchbar input[type=text] {
    border: 1px solid #ccc;
  }
}

.btn {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 14px 20px;
  font-size: 32px;
  cursor: pointer;
  margin-left: 350px;
}

.btn:hover {
  border: 1px solid black;
}

/* 2.Background */
.description {
  background-image: url("./images/background\ night\ 2.jpeg");
  color: white;
  background-size: 2000px 300px;
  background-repeat: no-repeat;
}

.description p {
  font-family: 'helvetica', sans-serif;
  font-size: 16px;
}

/* Types of aircraft */
.container10 {
  display: flex;
  align-items: center;
}

.pictureaircraft {
  max-width: 100%;
}

#title {
  background-color: blue;
  color: #ffffff;
  font-size: 26px;
}

p {
  font-size: 18px;
}


